.Home h1 {
  text-align: center;
  font-size: 64px;
  position: fixed;
  top: 32px;
  left: 0;
  right: 0;
}

.Home footer {
  text-align: center;
  position: fixed;
  bottom: 32px;
  left: 0;
  right: 0;
}
